.container {
    padding: 0px 150px 50px 150px;
    background-color: #0A052E;
    background-image: url(assets/swirl.png);
    background-blend-mode: soft-light;
    background-size: contain;
}
.row {
    display: flex;
    justify-content: center;
    padding: 20px 0px 30px 0px;
}

.col-left {
    text-align: center;
    padding-right: 10px
}

.col-right {
    text-align: center;
    padding-left: 10px;
}

.thumbnail-img {
    border: 0.5px solid #fff;
    border-radius: 8px;
    width: 80%;
}

.rocket {
    height: 40px;
}

.navigation-bar {
    padding: 20px 0px 10px 0px;
    display: flex;
}

.nav-logo {
    text-align: left;
    width: 50%;
}

.nav-socials {
    text-align: right;
    width: 50%;
}

/* Text Styling */

h1 {
    font-family: 'Lato', sans-serif;
    color: #FEBCFD;
}

h3 {
    font-family: 'Lato', sans-serif;
    color: #fff;
}

p {
    font-family: 'Lato', sans-serif;
    color: #fff;
    opacity: 80%;
}

/* ICONS */

.socials {
    color: #fff;
    font-size: 25px;
    letter-spacing: 20px;
}